nav {
	background-color: #343a40!important;
}

nav ul li a{
	color: white!important;
}

footer {
	background: rgb(28,54,67);
background: linear-gradient(90deg, rgba(28,54,67,1) 0%, rgba(29,66,85,1) 31%, rgba(29,73,98,1) 64%, rgba(30,83,113,1) 100%);
}

footer ul li{
	display: flexbox;
	align-content: center;
	justify-content: center;
}

.btnType1 {
    background-color: #97c93e;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 8px;
}